# Lending Club Case Study - Data Cleansing, EDA & Extracting Insights

#### Import Necessary Libraries

In [355]:
#Numerical and data analysis
import pandas as pd
import numpy as np

#Data visualization
from matplotlib import pyplot as plt
import seaborn as sb

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

#### Load the dataset and prepare dataframe

In [356]:
df = pd.read_csv('/Users/nikhilnaveen/Desktop/Learning/Assignments/LendingClubCaseStudy/loan.csv')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

#### Problem Statement:
- Based on the dataset given, perform EDA and derive some metrics & conclusions that can help the company to make decisions like loan approval and rejection.

#### Print the no. of records present in the dataframe before doing any changes (excluding headers)

In [357]:
df.shape[0]-1

39716

#### Remove "Current" customers as the analysis is on fully paid & charged-off customers

In [358]:
df_filtered = df[~df['loan_status'].str.contains('Current')]
df_filtered.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
5,1075269,1311441,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

#### Print the no. of records present in the dataframe after dropping current customers (excluding headers)

In [359]:
df_filtered.shape[0]-1

38576

#### Check for missing values (null or NaN) in the filtered dataframe

In [360]:
100*df_filtered.isnull().mean()

id                              0.000000
member_id                       0.000000
loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
                                 ...
tax_liens                       0.101097
tot_hi_cred_lim               100.000000
total_bal_ex_mort             100.000000
total_bc_limit                100.000000
total_il_high_credit_limit    100.000000
Length: 111, dtype: float64

#### Display columns with missing data only

In [361]:
null_value_mean = 100*df_filtered.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column])

emp_title 6.185032532337922
emp_length 2.6777613603960906
desc 32.47790134017679
title 0.028514399771884805
mths_since_last_delinq 64.55919330170828
mths_since_last_record 92.8973222386396
revol_util 0.12961090805402184
last_pymnt_d 0.184047489436711
next_pymnt_d 100.0
last_credit_pull_d 0.005184436322160873
collections_12_mths_ex_med 0.14516421702050444
mths_since_last_major_derog 100.0
annual_inc_joint 100.0
dti_joint 100.0
verification_status_joint 100.0
tot_coll_amt 100.0
tot_cur_bal 100.0
open_acc_6m 100.0
open_il_6m 100.0
open_il_12m 100.0
open_il_24m 100.0
mths_since_rcnt_il 100.0
total_bal_il 100.0
il_util 100.0
open_rv_12m 100.0
open_rv_24m 100.0
max_bal_bc 100.0
all_util 100.0
total_rev_hi_lim 100.0
inq_fi 100.0
total_cu_tl 100.0
inq_last_12m 100.0
acc_open_past_24mths 100.0
avg_cur_bal 100.0
bc_open_to_buy 100.0
bc_util 100.0
chargeoff_within_12_mths 0.14516421702050444
mo_sin_old_il_acct 100.0
mo_sin_old_rev_tl_op 100.0
mo_sin_rcnt_rev_tl_op 100.0
mo_sin_rcnt_tl 100.0
mort_acc 100.0
mths_since_recent_bc 100.0
mths_since_recent_bc_dlq 100.0
mths_since_recent_inq 100.0
mths_since_recent_revol_delinq 100.0
num_accts_ever_120_pd 100.0
num_actv_bc_tl 100.0
num_actv_rev_tl 100.0
num_bc_sats 100.0
num_bc_tl 100.0
num_il_tl 100.0
num_op_rev_tl 100.0
num_rev_accts 100.0
num_rev_tl_bal_gt_0 100.0
num_sats 100.0
num_tl_120dpd_2m 100.0
num_tl_30dpd 100.0
num_tl_90g_dpd_24m 100.0
num_tl_op_past_12m 100.0
pct_tl_nvr_dlq 100.0
percent_bc_gt_75 100.0
pub_rec_bankruptcies 1.8067760582730643
tax_liens 0.10109650828213701
tot_hi_cred_lim 100.0
total_bal_ex_mort 100.0
total_bc_limit 100.0
total_il_high_credit_limit 100.0

#### Identify the missing value columns whose average missing percentage is greater than 50%

In [362]:
columns_to_discard = null_value_mean[null_value_mean >50].index
for column in columns_to_discard:
    print(column, null_value_mean[column])

mths_since_last_delinq 64.55919330170828
mths_since_last_record 92.8973222386396
next_pymnt_d 100.0
mths_since_last_major_derog 100.0
annual_inc_joint 100.0
dti_joint 100.0
verification_status_joint 100.0
tot_coll_amt 100.0
tot_cur_bal 100.0
open_acc_6m 100.0
open_il_6m 100.0
open_il_12m 100.0
open_il_24m 100.0
mths_since_rcnt_il 100.0
total_bal_il 100.0
il_util 100.0
open_rv_12m 100.0
open_rv_24m 100.0
max_bal_bc 100.0
all_util 100.0
total_rev_hi_lim 100.0
inq_fi 100.0
total_cu_tl 100.0
inq_last_12m 100.0
acc_open_past_24mths 100.0
avg_cur_bal 100.0
bc_open_to_buy 100.0
bc_util 100.0
mo_sin_old_il_acct 100.0
mo_sin_old_rev_tl_op 100.0
mo_sin_rcnt_rev_tl_op 100.0
mo_sin_rcnt_tl 100.0
mort_acc 100.0
mths_since_recent_bc 100.0
mths_since_recent_bc_dlq 100.0
mths_since_recent_inq 100.0
mths_since_recent_revol_delinq 100.0
num_accts_ever_120_pd 100.0
num_actv_bc_tl 100.0
num_actv_rev_tl 100.0
num_bc_sats 100.0
num_bc_tl 100.0
num_il_tl 100.0
num_op_rev_tl 100.0
num_rev_accts 100.0
num_rev_tl_bal_gt_0 100.0
num_sats 100.0
num_tl_120dpd_2m 100.0
num_tl_30dpd 100.0
num_tl_90g_dpd_24m 100.0
num_tl_op_past_12m 100.0
pct_tl_nvr_dlq 100.0
percent_bc_gt_75 100.0
tot_hi_cred_lim 100.0
total_bal_ex_mort 100.0
total_bc_limit 100.0
total_il_high_credit_limit 100.0

#### Drop the missing value columns whose average missing percentage is greater than 50%

In [363]:
df_new = df_filtered.drop(columns=columns_to_discard, axis=1) #axis=1 represents dropping columns

#### Print the remaining columns after dropping null value columns from the dataframe

In [364]:
df_new.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,1075269,1311441,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,...,161.03,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

#### Print the no. of records present after changes done so far (excluding headers)

In [365]:
df_new.shape[0]-1

38576

#### Identify the columns whose missing value percentage is under acceptable range

In [366]:
null_value_mean = 100*df_new.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column], null_value_mean[column].dtype)

emp_title 6.185032532337922 float64
emp_length 2.6777613603960906 float64
desc 32.47790134017679 float64
title 0.028514399771884805 float64
revol_util 0.12961090805402184 float64
last_pymnt_d 0.184047489436711 float64
last_credit_pull_d 0.005184436322160873 float64
collections_12_mths_ex_med 0.14516421702050444 float64
chargeoff_within_12_mths 0.14516421702050444 float64
pub_rec_bankruptcies 1.8067760582730643 float64
tax_liens 0.10109650828213701 float64

#### If above column list is observed, they can be divided as follows:

Numerical:
1. revol_util
2. collections_12_mths_ex_med
3. chargeoff_within_12_mths
4. pub_rec_bankruptcies
5. tax_liens

Categorical:
1. emp_title
2. emp_length
3. desc
4. title
5. last_pymnt_d (date)
6. last_credit_pull_d (date)

#### The column "revol_util" is a percentile column representing revolving line utilization rate and has '%' in the values. The range is 0.01% to 99.90%. Hence, removing the character '%' from the records and converting into float so that it can be considered a numeric column. Also, there are missing value records under "revol_util". Hence, they can be imputed with median.

In [367]:
df_new["revol_util"] = df_new["revol_util"].str.replace('%','', regex=False)
df_new["revol_util"] = df_new["revol_util"].astype(float)
med = df_new["revol_util"].median()
df_new["revol_util"] = df_new["revol_util"].fillna(med)
null_value_mean = 100*df_new.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column])

emp_title 6.185032532337922
emp_length 2.6777613603960906
desc 32.47790134017679
title 0.028514399771884805
last_pymnt_d 0.184047489436711
last_credit_pull_d 0.005184436322160873
collections_12_mths_ex_med 0.14516421702050444
chargeoff_within_12_mths 0.14516421702050444
pub_rec_bankruptcies 1.8067760582730643
tax_liens 0.10109650828213701

#### After observing the data again, no amount was collected from borrowers excluding medical expenses. It is either zero or empty in the dataset. Hence, the column "collections_12_mths_ex_med" can be dropped.

In [368]:
df_new = df_new.drop(columns=['collections_12_mths_ex_med'])
null_value_mean = 100*df_new.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column])

emp_title 6.185032532337922
emp_length 2.6777613603960906
desc 32.47790134017679
title 0.028514399771884805
last_pymnt_d 0.184047489436711
last_credit_pull_d 0.005184436322160873
chargeoff_within_12_mths 0.14516421702050444
pub_rec_bankruptcies 1.8067760582730643
tax_liens 0.10109650828213701

#### After observing the data again, no customer faced a charge-off. Hence, the column "chargeoff_within_12_mths" can be dropped.

In [369]:
df_new = df_new.drop(columns=['chargeoff_within_12_mths'])
null_value_mean = 100*df_new.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column])

emp_title 6.185032532337922
emp_length 2.6777613603960906
desc 32.47790134017679
title 0.028514399771884805
last_pymnt_d 0.184047489436711
last_credit_pull_d 0.005184436322160873
pub_rec_bankruptcies 1.8067760582730643
tax_liens 0.10109650828213701

#### Imputing the column "pub_rec_bankruptcies" and defaulting missing values to 0 as the column contains only numbers (0,1 & 2) and empty values. Hence, imputing with median.

In [370]:
med = df_new["pub_rec_bankruptcies"].median()
df_new["pub_rec_bankruptcies"] = df_new["pub_rec_bankruptcies"].fillna(med)
null_value_mean = 100*df_new.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column])

emp_title 6.185032532337922
emp_length 2.6777613603960906
desc 32.47790134017679
title 0.028514399771884805
last_pymnt_d 0.184047489436711
last_credit_pull_d 0.005184436322160873
tax_liens 0.10109650828213701

#### The column "tax_liens" is either empty or zero. Hence, dropping this column as it wouldn't be useful in next steps of analysis.

In [371]:
df_new = df_new.drop(columns=['tax_liens'])
null_value_mean = 100*df_new.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column])

emp_title 6.185032532337922
emp_length 2.6777613603960906
desc 32.47790134017679
title 0.028514399771884805
last_pymnt_d 0.184047489436711
last_credit_pull_d 0.005184436322160873

#### The columns "emp_title", "emp_length", "desc" & "title" being categorical, imputing them and replacing their null values with "NA"

In [372]:
df_new["emp_title"] = df_new["emp_title"].fillna('NA')
df_new["emp_length"] = df_new["emp_length"].fillna('NA')
df_new["desc"] = df_new["desc"].fillna('NA')
df_new["title"] = df_new["title"].fillna('NA')
null_value_mean = 100*df_new.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column])

last_pymnt_d 0.184047489436711
last_credit_pull_d 0.005184436322160873

#### The 2 columns "last_pymnt_d" and "last_credit_pull_d" are date fiels in DD-Month format. Also, they have few missing values which can be replaced with "NA"

In [373]:
df_new["last_pymnt_d"] = df_new["last_pymnt_d"].fillna('NA')
df_new["last_credit_pull_d"] = df_new["last_credit_pull_d"].fillna('NA')
null_value_mean = 100*df_new.isnull().mean()
columns_to_display = null_value_mean[null_value_mean >0].index
for column in columns_to_display:
    print(column, null_value_mean[column])

#### All the missing value columns were successfully addressed and there are no missing value fields in the dataset anymore

In [374]:
100*df_new.isnull().mean()

id                         0.0
member_id                  0.0
loan_amnt                  0.0
funded_amnt                0.0
funded_amnt_inv            0.0
term                       0.0
int_rate                   0.0
installment                0.0
grade                      0.0
sub_grade                  0.0
emp_title                  0.0
emp_length                 0.0
home_ownership             0.0
annual_inc                 0.0
verification_status        0.0
issue_d                    0.0
loan_status                0.0
pymnt_plan                 0.0
url                        0.0
desc                       0.0
purpose                    0.0
title                      0.0
zip_code                   0.0
addr_state                 0.0
dti                        0.0
delinq_2yrs                0.0
earliest_cr_line           0.0
inq_last_6mths             0.0
open_acc                   0.0
pub_rec                    0.0
revol_bal                  0.0
revol_util                 0.0
total_acc                  0.0
initial_list_status        0.0
out_prncp                  0.0
out_prncp_inv              0.0
total_pymnt                0.0
total_pymnt_inv            0.0
total_rec_prncp            0.0
total_rec_int              0.0
total_rec_late_fee         0.0
recoveries                 0.0
collection_recovery_fee    0.0
last_pymnt_d               0.0
last_pymnt_amnt            0.0
last_credit_pull_d         0.0
policy_code                0.0
application_type           0.0
acc_now_delinq             0.0
delinq_amnt                0.0
pub_rec_bankruptcies       0.0
dtype: float64

#### Identification of unnecessary columns
- The column "pymnt_plan" has only one default value - 'n'. After referring data dictionary, it can be dropped as it has no use.
- The column "initial_list_status" has only one default value - 'f'. Since it would be of no use for EDA and next steps, it can be dropped.
- The columns "out_prncp" and "out_prncp_inv" are all zeros be default. Since they are of no use, they can be dropped.
- The column "policy_code" has only one default value - 1 which indicates that all borrowers are under public category. Since it would be of no use for EDA and next steps, it can be dropped.
- All the borrowers are "INDIVIDUAL" as per the field "application_type". Being a default valued column, it can be dropped.
- The columns "acc_now_delinq" and "delinq_amnt" are all zeros be default. Since they are of no use, they can be dropped.

In [375]:
#Dropping the unnecessary columns
df_new = df_new.drop(columns=['pymnt_plan','initial_list_status','out_prncp','out_prncp_inv','policy_code','application_type','acc_now_delinq','delinq_amnt'])

#### Displaying the shape of dataset after changes done so far

In [376]:
df_new.shape

(38577, 43)

#### Further data cleansing
The column "int_rate" is a percentile column representing loan interest rate and has '%' in the values. Hence, removing the character '%' from the records and converting into float so that it can be considered a numeric column.

In [377]:
#removing % character from the column
df_new["int_rate"] = df_new["int_rate"].str.replace('%','', regex=False)
df_new["int_rate"]

0        10.65
1        15.27
2        15.96
3        13.49
5         7.90
         ...
39712     8.07
39713    10.28
39714     8.07
39715     7.43
39716    13.75
Name: int_rate, Length: 38577, dtype: object

#### Renaming columns to avoid ambiguity during EDA.

In [378]:
100*df_new.isnull().mean()

id                         0.0
member_id                  0.0
loan_amnt                  0.0
funded_amnt                0.0
funded_amnt_inv            0.0
term                       0.0
int_rate                   0.0
installment                0.0
grade                      0.0
sub_grade                  0.0
emp_title                  0.0
emp_length                 0.0
home_ownership             0.0
annual_inc                 0.0
verification_status        0.0
issue_d                    0.0
loan_status                0.0
url                        0.0
desc                       0.0
purpose                    0.0
title                      0.0
zip_code                   0.0
addr_state                 0.0
dti                        0.0
delinq_2yrs                0.0
earliest_cr_line           0.0
inq_last_6mths             0.0
open_acc                   0.0
pub_rec                    0.0
revol_bal                  0.0
revol_util                 0.0
total_acc                  0.0
total_pymnt                0.0
total_pymnt_inv            0.0
total_rec_prncp            0.0
total_rec_int              0.0
total_rec_late_fee         0.0
recoveries                 0.0
collection_recovery_fee    0.0
last_pymnt_d               0.0
last_pymnt_amnt            0.0
last_credit_pull_d         0.0
pub_rec_bankruptcies       0.0
dtype: float64

In [379]:
#Changing column names to more meaningful names
df_new.rename(columns={'id': 'ID', 
                       'member_id': 'Member_ID', 
                       'loan_amnt': 'Loan_Amount', 
                       'funded_amnt': 'Funded_Amount',
                       'funded_amnt_inv': 'Funded_Amount_Investor',
					   'term': 'Tenure_In_Months',
					   'int_rate': 'Interest_Rate',
					   'installment': 'Installment_Amount',
					   'grade': 'Grade',
					   'sub_grade': 'Sub_Grade',
					   'emp_title': 'Employee_Job_Title',
					   'emp_length': 'Employee_Tenure_In_Years',
					   'home_ownership': 'Home_Ownership',
					   'annual_inc': 'Annual_Income',
					   'verification_status': 'Verification_Status',
					   'issue_d': 'Issue_Date',
					   'loan_status': 'Loan_Status',
					   'url': 'URL',
					   'desc': 'Borrower_Description',
					   'purpose': 'Purpose_of_Loan',
					   'title': 'Borrower_Loan_Title',
					   'zip_code': 'ZIP_Code',
					   'addr_state': 'Borrower_State',
					   'dti': 'Debt_To_Income_Ratio',
					   'delinq_2yrs': 'Delinquency_For_Past_2_Years',
					   'earliest_cr_line': 'Earliest_Reported_Credit_Line',
					   'inq_last_6mths': 'Inquiries_In_Last_6_Months',
					   'open_acc': 'Open_Credit_Lines',
					   'pub_rec': 'Derogatory_Public_Records',
					   'revol_bal': 'Total_Credit_Revolving_Balance',
					   'revol_util': 'Revolving_Line_Utilization_Rate',
					   'total_acc': 'Total_No_Of_Credit_Lines',
					   'total_pymnt': 'Total_Payments_Received',
					   'total_pymnt_inv': 'Total_Payments_Received_Investor',
					   'total_rec_prncp': 'Principal_Received_To_Date',
					   'total_rec_int': 'Interest_Received_To_Date',
					   'total_rec_late_fee': 'Late_Fees_Received_To_Date',
					   'recoveries': 'Recoveries',
					   'collection_recovery_fee': 'Collection_Recovery_Fee',
					   'last_pymnt_d': 'Last_Payment_Received_On',
					   'last_pymnt_amnt': 'Last_Received_Payment_Amount',
					   'last_credit_pull_d': 'Last_LC_Pulled_On',
					   'pub_rec_bankruptcies': 'No_Of_Bankruptcies'
					   }, inplace=True)

#### Display new colums

In [380]:
100*df_new.isnull().mean()

ID                                  0.0
Member_ID                           0.0
Loan_Amount                         0.0
Funded_Amount                       0.0
Funded_Amount_Investor              0.0
Tenure_In_Months                    0.0
Interest_Rate                       0.0
Installment_Amount                  0.0
Grade                               0.0
Sub_Grade                           0.0
Employee_Job_Title                  0.0
Employee_Tenure_In_Years            0.0
Home_Ownership                      0.0
Annual_Income                       0.0
Verification_Status                 0.0
Issue_Date                          0.0
Loan_Status                         0.0
URL                                 0.0
Borrower_Description                0.0
Purpose_of_Loan                     0.0
Borrower_Loan_Title                 0.0
ZIP_Code                            0.0
Borrower_State                      0.0
Debt_To_Income_Ratio                0.0
Delinquency_For_Past_2_Years        0.0
Earliest_Reported_Credit_Line       0.0
Inquiries_In_Last_6_Months          0.0
Open_Credit_Lines                   0.0
Derogatory_Public_Records           0.0
Total_Credit_Revolving_Balance      0.0
Revolving_Line_Utilization_Rate     0.0
Total_No_Of_Credit_Lines            0.0
Total_Payments_Received             0.0
Total_Payments_Received_Investor    0.0
Principal_Received_To_Date          0.0
Interest_Received_To_Date           0.0
Late_Fees_Received_To_Date          0.0
Recoveries                          0.0
Collection_Recovery_Fee             0.0
Last_Payment_Received_On            0.0
Last_Received_Payment_Amount        0.0
Last_LC_Pulled_On                   0.0
No_Of_Bankruptcies                  0.0
dtype: float64

#### Outlier Identification
Out of pending 43 columns, 8 columns were identified as outliers because of their distribution pattern. Findings are shown below.
  1. "Loan_Amount" - Most of the loan amounts present in the dataset are as low as USD 500 and as high as USD 35,000. However, most of the amount figures are inclined towards lower amounts which makes this column as outlier.
  2. "Funded_Amount" - Follows a similar distribution to the "Loan_Amount".
  3. "Funded_Amount_Investor" - Follows a similar distribution to the "Funded_Amount".
  4. "Interest_Rate" - Ranges between 5% and 25%. However, most interest rates lie between 5% and 20%.
  5. "Annual_Income" - Contains both extreme low and high incomes.
  6. "Total_Credit_Revolving_Balance" - As low as USD 0 and as high as nearly USD 150,000. But most of the outliers lean towards lower revolving balances.
  7. "Total_Payments_Received" - Contains both extreme low and high payments.
  8. "Total_Payments_Received_Investor" - Follows a similar distribution to the "Total_Payments_Received".

#### Outlier handling recommendations
1. "Loan_Amount" - It would be better if maximum loan amount is capped to avoid anomalies during investigation on higher loan amounts.
2. "Funded_Amount" - Recommended to cap maximum funded amount for analysis on big amounts.
3. "Funded_Amount_Investor" - Similar recommendation like "Funded_Amount", maximum amount should be capped.
4. "Interest_Rate" - Need to verify high interest rates for accuracy.
5. "Annual_Income" - Similar recommendation like "Funded_Amount", highest income should be capped.
6. "Total_Credit_Revolving_Balance" - Huge balances can be capped for better understanding.
7. "Total_Payments_Received" - Need to consider capping the total payment values or investigating the reasons behind very high payments.
8. "Total_Payments_Received_Investor" - Similar recommendation like "Total_Payments_Received", highest payments should be capped.

### Handling of outliers

In [381]:
#95th percentile function definiton
def outlier_adj(df, column):
    percentile_95 = df[column].quantile(0.95)
    df[column] = df[column].apply(lambda x: min(x, percentile_95))
    return df

#Columns
modifier_columns = ['Loan_Amount', 'Funded_Amount', 'Funded_Amount_Investor', 'Interest_Rate', 
                   'Annual_Income', 'Total_Credit_Revolving_Balance', 'Total_Payments_Received', 'Total_Payments_Received_Investor']

#Capping
for column in modifier_columns:
    df_new = outlier_adj(df_new, column)

#Verifying the values
capped_values = data[modifier_columns].max()
capped_values

TypeError: unsupported operand type(s) for -: 'str' and 'str'